body {
	background:green}

.stars
{
	width: 300px;
    border: 25px solid red;
    padding: 25px;
    margin: 25px;
}

#first-header{
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}